copy_activity/pipeline/set variable3.json
{
	"name": "set variable3",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "false",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable2",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varcondition",
								"value": "this is false block"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "varcondition",
								"value": "this is true block"
							}
						}
					]
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "finalvar",
					"value": {
						"value": "@variables('varcondition')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varcondition": {
				"type": "String"
			},
			"finalvar": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-02-21T08:33:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}