copy_activity/pipeline/sorting of array.json
{
	"name": "sorting of array",
	"properties": {
		"activities": [
			{
				"name": "InputArray",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "InputArray",
					"value": {
						"value": "@pipeline().parameters.InputArray",
						"type": "Expression"
					}
				}
			},
			{
				"name": "iteration",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "InputArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "iteration",
					"value": {
						"value": "@range(0,add(length(variables('InputArray')),-1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "iteration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(variables('iteration'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CurrentIndex",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentIndex",
								"value": {
									"value": "@string(variables('iteration')[0])",
									"type": "Expression"
								}
							}
						},
						{
							"name": "NextIndex",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CurrentIndex",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "NextIndex",
								"value": {
									"value": "@string(add(int(variables('iteration')[0]),-1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "NextIndex",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(variables('InputArray')[int(variables('CurrentIndex'))],variables('InputArray')[int(variables('NextIndex'))])",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "UpdateIteration",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "TempIteration",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "iteration",
											"value": {
												"value": "@variables('TempIteraion')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "TempIteration",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "TempIteraion",
											"value": {
												"value": "@skip(variables('iteration'),1)",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "left",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "left",
											"value": {
												"value": "@take(variables('InputArray'),int(variables('CurrentIndex')))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "right",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "right",
											"value": {
												"value": "@skip(variables('InputArray'),add(int(variables('NextIndex')),1))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "TempArray",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "left",
												"dependencyConditions": [
													"Succeeded"
												]
											},
											{
												"activity": "right",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "TempArray",
											"value": {
												"value": "@createArray(if(empty(variables('left')),'',variables('left')),variables('InputArray')[int(variables('NextIndex'))],variables('InputArray')[variables('CurrentIndex')],if(empty(variables('right')),'',variables('right')))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "SwapedArray",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "TempArray",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "SwapedArray",
											"value": {
												"value": "@json(concat('[',replace(replace(replace(replace(string(variables('TempArray')),'[',''),']',''),'\"\",',''),'\"\"',''),']'))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "UpdateInputArray",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "SwapedArray",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "InputArray",
											"value": {
												"value": "@variables('SwapedArray')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "ResetIteration",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "UpdateInputArray",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "iteration",
											"value": {
												"value": "@range(0,add(length(variables('InputArray')),-1))",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "FinalSortedArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "FinalSortedArray",
					"value": {
						"value": "@variables('InputArray')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"InputArray": {
				"type": "array",
				"defaultValue": [
					3,
					2,
					1,
					4
				]
			}
		},
		"variables": {
			"InputArray": {
				"type": "Array"
			},
			"iteration": {
				"type": "Array"
			},
			"CurrentIndex": {
				"type": "String"
			},
			"NextIndex": {
				"type": "String"
			},
			"left": {
				"type": "Array"
			},
			"right": {
				"type": "Array"
			},
			"TempArray": {
				"type": "Array"
			},
			"SwapedArray": {
				"type": "Array"
			},
			"TempIteraion": {
				"type": "Array"
			},
			"FinalSortedArray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}